{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="section-title text-center">
        <h2>My Blog</h2>
        <p>Welcome to my blog!</p>
    </div>
</div>
<div class="container" style="width: 800px;">
{% for obj in object_list %}
<div class="card shadow p-5">
    <div class="card-body">
        <h1 class="card-title">{{obj.title}}</h1>
        <p class="pub_date" style="font-size: smaller; color: grey;">{{ obj.timestamp | date:"D d M Y" }}, by {{ obj.author }}</p>
        <p class="card-text">{{obj.short | safe}}</p>
        <a href="post/{{obj.slug}}" class="btn btn-primary">Read more</a>
    </div>
</div>
<br>
<br>
{% endfor %}
<a href="posts/">See all post</a>
</div>
{% endblock content %}
