{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="section-title text-center">
        <h2>My Blog</h2>
        <p>Welcome to my blog!</p>
    </div>
</div>
<div class="container" style="width: 800px;">
    <div class="card shadow p-5">
        <div class="card-body">
            <h1 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.overview | safe}}</p>
            <input type="button" class="btn btn-primary" value="Go back!" onclick="history.back()">
        </div>
    </div>
</div>
{% endblock content %}