{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Online Snake </title>
        <link href="{% static 'images/r-square-fill.svg' %}" rel="icon" type="image/svg+xml">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>

        <!-- Navbar -->
        <nav class="navbar sticky-top shadow-sm">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
                <h2 style=" position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">Online Snake Game</h2>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Blog</a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </nav>

        <!-- Room name input modal  -->
        <div class="modal fade" id="promptRoomModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <form>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="roomSelectRadio" id="roomSelectRadio1" onchange="RoomSelected('public')" checked>
                              <label class="form-check-label" for="roomSelectRadio1">
                                Join public room
                              </label>
                            </div>
                            or
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="roomSelectRadio" id="roomSelectRadio2" onchange="RoomSelected('private')">
                              <label class="form-check-label" for="roomSelectRadio2">
                                Join private room
                              </label>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="roomName" placeholder="Enter room name.."disabled>
                            </div>
                        </form>
                        <button id="promptRoomOk" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#promptUserModal">Enter</button>
                        <button id="promptRoomClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal" hidden>Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Game over modal  -->
        <div class="modal fade" id="gameOverModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="mb-3 text-center">
                            <h3 >Game Over</h3>
                            <p id="gameovermessage">Collided</p>
                            <br>
                            <div class="mx-auto">
                                <button id="gameOverExit" type="button" class="btn btn-primary m-1" data-bs-toggle="modal">Exit</button>
                                <button id="gameOverPlay" type="button" class="btn btn-primary m-1" data-bs-toggle="modal">Retry!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Username input modal -->
        <div class="modal fade" id="promptUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="userName" class="col-form-label">Enter username:</label>
                                <input type="text" class="form-control" id="userName" autofocus>
                            </div>
                        </form>
                        <button id="promptUserOk" type="button" class="btn btn-primary" onclick="promptUserButton()">Enter</button>
                        <button id="promptUserClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal" hidden>Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Game canvas  -->
        <div class="container text-center mt-4 p-4">
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <div class="container mx-auto d-flex align-items-center" style:"width: 800px">
                        <div class="container" id="instruction" style="width: 800px; position: absolute;">
                            <h5>Play classic snake together with your friends!</h5>
                            <p>
                                Use WASD to control your snake.<br>
                                Eat food to grow your snake.<br>
                                Avoid the wall and other players.<br>
                                Longest snake win!<br>
                            </p>
                            <button id="promptRoom" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#promptRoomModal">Play!</button>
                        </div>
                        <canvas id="snakeCanvas" class="border border-dark-subtle shadow" style="background-color: white;" width=800px height=600px></canvas>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
        </div>

        <!-- Game script -->
        <script>
            const canvas = document.getElementById("snakeCanvas");
            const ctx = canvas.getContext("2d");
            const gridSize = 20;
            const updateInterval = 100;

            let socket;
            let user;
            let room;
            let data;
            let animationID;
            let start = false;
            var currentState;
            var lastState;
            var lastUpdateTime;

            // Connect to websocket server
            if (window.location.hostname == "rahmantoks.com"){
                socket = new WebSocket('wss://rahmantoks.com/ws/snake/');
            } else {
                socket = new WebSocket('ws://' + window.location.hostname + '/ws/snake/');
            }

            function promptUserButton() {
                document.getElementById("promptUserClose").click();
                document.getElementById("instruction").style.display='none';

                if(document.getElementById("roomSelectRadio1").checked){
                    room = "public";
                }else{
                    room = document.getElementById("roomName").value;
                }

                user = document.getElementById("userName").value;

                socket.send(JSON.stringify({
                    type: 'set_player_info',
                    room_name: room,
                    username: user,
                }))
            }

            socket.onopen = () => {
                console.log("WebSocket connection opened.");
            };

            socket.onmessage = (event) => {
                const data = JSON.parse(event.data);
                console.log("Received:", data);
                if (data.type == "game_start") {
                    start = true;
                    updateAndRender();
                } else if (data.type == "game_over") {
                    if (data.username == user){
                        socket.close();
                        cancelAnimationFrame(animationID);
                        showGameOver(data.message);
                        //alert(data.message);
                    }
                } else {
                    lastState = currentState;
                    currentState = data;
                    lastUpdateTime = performance.now();
                    //drawGame(data);
                };
            }

            document.addEventListener("keydown", (event) => {
                if (start == true){
                    socket.send(JSON.stringify({
                        type: 'key_press',
                        key: event.key,
                    }));
                };
            })

            function drawGame(data) {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                // Draw each client's snake
                Object.values(data.clients).forEach((client) => {
                    ctx.fillStyle = "green";
                    client.snake.forEach(segment => {
                        ctx.fillRect(segment[0], segment[1], gridSize, gridSize);
                    });

                    // Draw the username next to the snake
                    ctx.fillStyle = "black";
                    ctx.font = "16px Arial";

                    var pos_x;
                    var pos_y;

                    if (client.direction == "down"){
                        pos_x = client.snake[0][0] + gridSize + 5;
                        pos_y = client.snake[0][1] + gridSize;
                    } else if(client.direction == "up") {
                        pos_x = client.snake[0][0] + gridSize + 5;
                        pos_y = client.snake[0][1] + gridSize - 10;
                    } else {
                        pos_x = client.snake[0][0];
                        pos_y = client.snake[0][1] - 5;
                    }
                    ctx.fillText(client.username, pos_x, pos_y);
                });

                // Draw the food
                ctx.fillStyle = "red";
                ctx.fillRect(data.food[0], data.food[1], gridSize, gridSize);
            }

            // Function to update and render the game state
            function updateAndRender(currentTime) {
                // In a real scenario, this is where you would receive the game state from the server
                // and update the currentGameState variable accordingly.
                // const currentGameState = {...initialGameS tate };  // Simulated update
                if(currentState != undefined){
                    const elapsed = currentTime - lastUpdateTime;

                    for (let i=0; i < currentState.clients.length; i++){
                        const interpolationFactor = elapsed / updateInterval;
                        interpolateSnakePosition(currentState.clients[i].snake, lastState.clients[i].snake, interpolationFactor);
                    }

                    // Draw the current game state
                    drawGame(currentState);

                    lastUpdateTime = currentTime;
                }

                // Request the next animation frame
                animationID = requestAnimationFrame(updateAndRender);
            }


            // Function to interpolate the snake's position
            function interpolateSnakePosition(currentSnake, lastSnake, interpolationFactor) {
                // Perform linear interpolation for each body segment
                for (let i = 1; i < currentSnake.length; i++) {
                    currentSnake[i][0] = lerp(lastSnake[i][0], currentSnake[i][0], interpolationFactor);
                    currentSnake[i][1] = lerp(lastSnake[i][1], currentSnake[i][1], interpolationFactor);
                }
            }

            // Linear interpolation function
            function lerp(a, b, t) {
                return a + t * (b - a);
            }

            function showGameOver(message){
                document.getElementById("gameovermessage").textContent = message;
                const modal = new bootstrap.Modal('#gameOverModal');
                modal.show();
            }

            function RoomSelected(type){
                if(type=="private"){
                    document.getElementById("roomName").disabled = false;
                }else {
                    document.getElementById("roomName").disabled = true;
                }
            }

            $(document).ready(function(){
                $("#gameOverPlay").click(function(){
                    location.reload();
                });
                $("#promptRoomModal").on('shown.bs.modal', function(){
                    $(this).find('#roomName').focus();
                });
                $("#promptUserModal").on('shown.bs.modal', function(){
                    $(this).find('#userName').focus();
                });
                $('#roomName').keypress(function (e) {
                    if (e.which == 13) {
                        $('#promptRoomOk').click();
                        return false;
                    }
                });
                $('#userName').keypress(function (e) {
                    if (e.which == 13) {
                        $('#promptUserOk').click();
                        return false;
                    }
                });
            });

        </script>
</body>
</html>
