<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <style>
        canvas {
            border: 1px solid #000;
        }
    </style>
</head>
<body>
    <canvas id="snakeCanvas" width="800" height="600" style="margin: auto;"></canvas>
    <script>
        const canvas = document.getElementById("snakeCanvas");
        const ctx = canvas.getContext("2d");
        const gridSize = 20;
        let socket;

        if (window.location.hostname == "rahmantoks.com"){
                socket = new WebSocket('wss://rahmantoks.com/ws/snake/');
        } else {
            socket = new WebSocket('ws://' + window.location.hostname + '/ws/snake/');
        }

        socket.onopen = () => {
            console.log("WebSocket connection opened.");
        };

        socket.onmessage = (event) => {
            const data = JSON.parse(event.data);
            console.log("Received:", data);
                if (data.type == "get_username"){
                    promptUser();
                }else{
                    drawGame(data);
                };
        }

        document.addEventListener("keydown", (event) => {
            socket.send(JSON.stringify({
                type: 'key_press',
                key: event.key,
            }));
        });

        function promptUser(){
            var user = prompt("enter username:");
            socket.send(JSON.stringify({
                type: 'set_username',
                username: user,
            }))
        }

        function promptRoom(){
            var room = prompt("enter room name:");
            socket.send(JSON.stringify({
                type: 'set_room_name',
                room_name: room,
            }))
        }

        function drawGame(data) {
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            // Draw each client's snake
            Object.values(data.clients).forEach((client) => {
                ctx.fillStyle = "green";
                client.snake.forEach(segment => {
                    ctx.fillRect(segment[0], segment[1], gridSize, gridSize);
                });

                // Draw the username next to the snake
                ctx.fillStyle = "black";
                ctx.font = "16px Arial";

                var pos_x;
                var pos_y;

                if (client.direction == "down"){
                    pos_x = client.snake[0][0] + gridSize + 5;
                    pos_y = client.snake[0][1] + gridSize;
                } else if(client.direction == "up") {
                    pos_x = client.snake[0][0] + gridSize + 5;
                    pos_y = client.snake[0][1] + gridSize - 10;
                } else {
                    pos_x = client.snake[0][0];
                    pos_y = client.snake[0][1] - 5;
                }
                ctx.fillText(client.username, pos_x, pos_y);
            });

            // Draw the food
            ctx.fillStyle = "red";
            ctx.fillRect(data.food[0], data.food[1], gridSize, gridSize);
        }

        socket.onopen = () => promptRoom();
    </script>
</body>
</html>
